@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


body{
    background-color: hsl(233, 47%, 7%);
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}
.card{
    background-color: hsl(244, 38%, 16%);
    width: 70vw;
    height: 62vh;
    position: absolute;
    flex-direction: row;
    top: 22%;
    left: 14%;
    display: flex;
    
    border-radius: 1%;
    -webkit-border-radius: 1%;
    -moz-border-radius: 1%;
    -ms-border-radius: 1%;
    -o-border-radius: 1%;
}
.promo{
    width: 50%;
    padding: 4%;
}

.promo>p{
    margin: 7% 0% 7% 0%;
}
.promo h1, .promo p{
    color: #fff;
    line-height: 26pt;
}
.insights{
    color: hsl(277, 64%, 61%);
}
.statistics{
    color: #fff;
}
.info{
    font-weight: 200;
    font-size: medium;
}
.first,.second{
    margin-right: 30%;
}
.companies{
    margin-right: 21%;
}
.templates{
    margin-right: 22%;
}
img{
    border-radius: 1%;
    -webkit-border-radius: 1%;
    -moz-border-radius: 1%;
    -ms-border-radius: 1%;
    -o-border-radius: 1%;
    filter: url('#purple-sepia') saturate(1.1);
    -webkit-filter: url('#purple-sepia') saturate(1.1);
    opacity: 0.7;
    height: 100%;
}
.pic{
    background-color: blueviolet;
}

@media  screen and (max-width:700px){
    body{
        background-color: hsl(233, 47%, 7%);
        font-size: 15px;
        font-family: 'Inter', sans-serif;
    }
    .card{
        background-color: hsl(244, 38%, 16%);
        position: absolute;
        top: 10%;
        left: 10%;
        width: 80vw;
        height:98vh;
        flex-direction: column;
        display: flex;
        justify-items: center;
        align-items: center;
        border-radius: 1%;
        -webkit-border-radius: 1%;
        -moz-border-radius: 1%;
        -ms-border-radius: 1%;
        -o-border-radius: 1%;
    }
    .promo{
        order: 2;    
        font-size: 10px;
        text-align: center;
        padding: 10%;
        margin: 4% 0% 4% 0%;
    }
    .promo h1{
        display: inline;
    }
    .promo p{
        line-height: 20pt;
    }
    .pic{
        order: 1;
    }
    .first,.second,.third,.companies,.templates,.quiery{
        display: block;
        position: absolute;
        margin: 3%;
    }
    .first{
        left: 35vw;
        top: 72vh;
    }
    .companies{
        left: 32vw;
        top: 75vh;
    }
    .second{
        left: 35vw;
        top: 80vh;
    }
    .templates{
        left: 32vw;
        top: 83vh;
    }
    .third{
        top: 89vh;
        left: 34vw;
    }
    .quiery{
        top: 92vh;
        left: 34vw;
    }
    img{
        width: 100%;
        border-radius: 1%;
        -webkit-border-radius: 1%;
        -moz-border-radius: 1%;
        -ms-border-radius: 1%;
        -o-border-radius: 1%;
    }
}